.pink {
    background-image: linear-gradient(to right, #ee6e73, #ee6eb4);
    color: white;
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.social {
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.inputs {
    height: 4rem;
}

.logo{
    padding: 4rem 4rem 2rem 4rem;
}

.bee{
    margin-left: 2rem;
}